* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* when you start use this so you can visualize 
  all your elements */
  /* border: 1px solid black; */
}

/* removing the dots from li */
ul {
  list-style-type: none;
}

.header {
  list-style-type: none;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(83, 83, 83);
}

.abewdsportfolio {
  font-size: 60px;
  display: flex;
  margin: 0px;
  background-color: rgb(63, 214, 202);
  color: rgb(83, 83, 83);
}

nav {
  display: flex;
  font-size: 35px;
  text-decoration: underline rgb(63, 214, 202);
  color: rgb(63, 214, 202);
  margin: 10px;
  padding: 15px;
}

.image {
  font-size: 35px;
  background: url(./Assets/Images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.imagetext1 {
  color: rgb(19, 4, 88);
  background-color: rgb(94, 200, 219);
}

.aboutme {
  text-align: right;
  display: flex;
  font-size: 60px;
  justify-content: flex-end;
  float: left;
  list-style-type: none;
  margin: 50px;
}

.aboutmeparagraph {
  text-align: left;
  display: flex;
  border-left: 5px solid red;
  font-size: 50px;
  margin: 30px;
  padding: 20px;
}

.work {
  text-align: right;
  display: flex;
  font-size: 60px;
  justify-content: flex-end;
  float: left;
  list-style-type: none;
  margin: 50px;
}

.workcontenttop {
  border: 1px solid black;
  display: block;
  border-left: 5px solid red;
  background-size: cover;
  margin: 70px;
  padding: 30px;
  width: 100%;
}

.workcontentblock1 {
  border: 1px solid black;
  display: block;
  border-left: 5px solid red;
  background-size: cover;
  margin: 70px;
  padding: 30px;
}
