* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.body {
  width: 100%;
}
.header {
  font-size: 25px;
  padding: 5px;
  height: 40%;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(83, 83, 83);
}
.abewdsportfolio {
  display: flex;
  margin: 0px;
  background-color: rgb(63, 214, 202);
  color: rgb(83, 83, 83);
}
nav {
  font-size: 25px;
  display: flex;
  text-decoration: underline rgb(63, 214, 202);
  color: rgb(10, 27, 25);
  margin: 15px;
  padding: 15px;
}
img {
  height: 100%;
  width: 100%;
}
.banner {
  background: url(./Assets/Images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.imagetext1 {
  font-size: 30px;
  color: rgb(19, 4, 88);
  background-color: rgb(94, 200, 219);
  padding: 15px;
}
.aboutme {
  font-size: 35px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  float: left;
  list-style-type: none;
  margin: 50px;
}
.aboutmeparagraph {
  text-align: left;
  display: flex;
  flex-direction: column;
  border-left: 5px solid blue;
  margin: 40px;
  padding: 10px;
  align-items: flex-start;
}

.aboutmefontsize {
  font-size: 30px;
}
.work {
  max-width: fit-content;
  text-align: right;
  display: flex;
  float: left;
  list-style-type: none;
  margin: 100px;
  padding: 30p;
}

.images {
  flex-wrap: wrap;
  border-left: 5px solid blue;
  display: flex;
}
.workcontenttop {
  border: solid 10px blue;
  display: block;
  height: 450px;
  margin: 45px;
  width: 90%;
}
.workcontentblock1 {
  flex-wrap: wrap;
  display: flex;
  margin: 50px;
}

.workcontentblock1 img {
  width: 700px;
  height: 100%;
  margin: 0px;
}

.contactme {
  font-size: 30px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  float: left;
  list-style-type: none;
  margin: 42px;
}

.footer {
  color: blue;
  justify-content: center;
  text-align: left;
  display: flex;
  border-left: 5px solid blue;
  margin: 10px;
  padding: 5px;
  height: 120px;
}

.footercolors {
  color: black;
}

.footerborder {
  margin: ;
}

.imagetopleft {
  border: solid 10px blue;
  height: 393.75px;
}

.imagetopright {
  border: solid 10px blue;
  height: 393.75px;
}

.imagebottomleft {
  border: solid 10px blue;
  height: 393.75px;
}

.imagebottomright {
  border: solid 10px blue;
  height: 393.75px;
}

.textonimages {
  position: relative;
  bottom: 90px;
}

h2 div {
  color: blue;
  background-color: turquoise;
  width: 250px;
  padding: 10px;
}

a span {
  background-color: turquoise;
}

a {
  color: blue;
  font-size: 25px;
  margin: 20px;
  height: 100px;
}
