* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* removing the dots from li */
ul {
  list-style-type: none;
}

.header {
  list-style-type: none;
  padding: 18px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(83, 83, 83);
  color: rgb(224, 13, 13);
}

.abewdsportfolio {
  font-size: 35px;
  display: flex;
  padding: 17px;
  background-color: rgb(63, 214, 202);
  color: rgb(83, 83, 83);
}

nav {
  display: flex;
  font-size: 23px;
  text-decoration: underline rgb(63, 214, 202);
  color: rgb(63, 214, 202);
}

.coolsubtitle {
  float: right;
  font-size: 30px;
  color: red;
}
